.breadcrumb {
    color: rgba(145, 145, 146, 1);
    display: flex;
    align-items: start;
    padding: 0 24px;
    max-width: 1700px;
    margin: 0 auto;
}

.breadcrumb-list {
    list-style: none;
    color: rgba(145, 145, 146, 1);
    display: flex;
    gap: 4px;
    align-items: center;
}

.breadcrumb-list li {
    display: flex;
    align-items: center;

}

.breadcrumb-list li:not(:last-child)::after {
    content:'';
    background-image: url(../../assets/icons/chevron.svg);
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 8px ;
    margin-top: 2px;
    width: 16px;
    height: 16px;
    background-size: contain;
    transform: rotate(-90deg);
}

.current {
    color: rgba(233, 233, 233, 0.9);
}

/* === Tablet === */
@media (max-width: 768px) {
    .breadcrumb {
        display: none;
    }
  }
  
/* ========== Mobile =========== */
  @media (max-width: 480px) {
    .breadcrumb {
        display: none;
    }
  }
