.general-product-block {
    display: flex;
    align-items: start;
    padding-right: 24px;
    max-width: 1700px;
    margin: 0 auto;
}

.product-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 48px 24px;
    border-radius: 16px;
    background-color: #1E1E20;
    margin: 20px;
}

/* Stepper (mobile and tablet) */
.stepper {
    display: none;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .step {
    flex: 1;
    text-align: center;
  }
  .step.active {
    font-weight: bold;
  }
  

 /* ================= tablet ============*/
 @media (max-width: 1024px) {
    .product-wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0;
        border-radius: 16px;
        background-color: var(--color-bg);
        margin: 15px 0 0 0;
        width: 100%;
        
    }

    .stepper {
        display: flex;
    }

    .general-product-block {
        padding: 0;
        flex-direction: column;
    }
  }
  
 /* ================== mobile ====================*/
 @media (max-width: 768px) {
    .product-wrapper {
        margin: 0;
        width: 100%;
    }
  }