.main {
    padding: 140px 0;
}

  /* === Tablet === */
  @media (max-width: 768px) {
    .main {
        padding: 40px 0;
    }
  }
  
/* ========== Mobile =========== */
  @media (max-width: 480px) {
    .main {
        padding: 40px 0;
    }
  }